# Python
__pycache__/
data/
# Jupyter Notebook
.ipynb_checkpoints

# Environment
.venv


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
analysis.log
*.png
*.jpg
*.pdf
temp/
data/
*.log
*.bak
*.tmp
*.cache
results/
docs/